<a href="https://colab.research.google.com/github/aswathypkarun/DataScience-Lab/blob/main/Aswathy_15_02_2022_NLTK_CO5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim: Implement problems on natural language processing - Part of Speech
tagging, N-gram & smoothening and Chunking using NLTK

Short notes:

The **Natural Language Toolkit (NLTK)** is a platform used for building programs for text analysis. One of the more powerful aspects of the NLTK module is the Part of Speech tagging.

**Part-of-speech (POS)** tagging is a process of converting a sentence to forms – list of words, list of tuples (where each tuple is having a form (word, tag)). The tag in case of is a part-of-speech tag, and signifies whether the word is a noun, adjective, verb, and so on.

**keywords**:

Corpus : Body of text, singular. Corpora is the plural of this.

Lexicon : Words and their meanings.

Token : Each “entity” that is a part of whatever was split up based on rules.

**Tags and their meanings**

CD cardinal digit

EX existential there (like: “there is” … think of it like “there exists”)

FW foreign word

IN preposition/subordinating conjunction

JJ adjective ‘big’

JJR adjective, comparative ‘bigger’

JJS adjective, superlative ‘biggest’

NN noun, singular ‘desk’

NNS noun plural ‘desks’

NNP proper noun, singular ‘Harrison’

NNPS proper noun, plural ‘Americans’

PDT predeterminer ‘all the kids’

POS possessive ending parent‘s

PRP personal pronoun I, he, she

PRP$ possessive pronoun my, his, hers

RB adverb very, silently,

RBR adverb, comparative better

RBS adverb, superlative best

RP particle give up

**N-grams** are continuous sequences of words or symbols or tokens in a document. In technical terms, they can be defined as the neighbouring sequences of items in a document. 

**Steps for n-gram model:**

Explore the dataset

Feature extraction

Train-test split

Basic pre-processing

Code to generate N-grams

Creating unigrams

Creating bigrams

Creating trigrams

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

stop_words=set(stopwords.words('english'))

#Dummy text
txt="India is my country .All indians are my brothers and sisters.I love my country."
  
# sent_tokenize is one of instances of 
# PunktSentenceTokenizer from the nltk.tokenize.punkt module
  
tokenzied=sent_tokenize(txt)
for i in tokenzied:

    # Word tokenizers is used to find the words 
    # and punctuation in a string
    wordsList=word_tokenize(i)
  
    # removing stop words from wordList
    wordsList=[w for w in wordsList if not w in stop_words]
  
    #  Using a Tagger. Which is part-of-speech 
    # tagger or POS-tagger. 
    tagged=nltk.pos_tag(wordsList)
    print(tagged)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[('India', 'NNP'), ('country', 'NN'), ('.All', 'VBD'), ('indians', 'NNS'), ('brothers', 'NNS'), ('sisters.I', 'VBP'), ('love', 'JJ'), ('country', 'NN'), ('.', '.')]

In [ ]:
print(stop_words)

{'whom', 'more', 'own', 'wasn', 'above', 'while', 'don', 'or', 'are', 'is', 'each', 's', 'after', 'am', 'were', 'do', 'mustn', 'wouldn', 'both', 'a', 'further', 'these', 'to', 'ourselves', 'himself', "you'll", 'once', 'weren', 'yours', 'doesn', 'it', 'with', 'before', 'hadn', 'o', 'here', 'isn', 'over', 'there', 'be', 'an', 'some', 'no', 'now', "mightn't", 'of', 'itself', 'out', 'being', 'm', 'by', 'why', 'theirs', 'will', 'couldn', 'having', 'had', 'off', 'shouldn', 'which', 'against', 'again', 'y', 'those', 'very', 'such', "it's", 'i', 'our', 'when', 'same', 'they', "needn't", 'so', "hasn't", 'him', 'ours', 'myself', 'hasn', 'mightn', 'most', 'doing', 'haven', 'than', 'for', "she's", 've', 'we', 'themselves', 'just', "don't", 'hers', 'through', 'yourselves', 'should', 'that', 'has', "aren't", 'between', 'not', 'been', 'as', 're', 'into', 'shan', 'what', 'who', 'yourself', "isn't", 'only', 'its', 'up', 'under', 'any', 'them', 'was', 'where', 'her', 'from', "mustn't", 'all', 'herself', 'nor', 'ain', 'and', "shan't", "that'll", 'd', 'have', 'because', 'll', "couldn't", 'your', 'the', "you're", 'too', 'below', "doesn't", "wouldn't", 'my', 'this', "you've", 'he', 'did', "shouldn't", 'she', 'how', 'few', 'won', 'about', 'their', "haven't", "wasn't", 'didn', 'then', "should've", 'at', 'if', "weren't", "won't", 'ma', 'needn', 'other', 'me', 'can', 'in', 'during', 'aren', "didn't", 'down', 't', 'on', 'does', "you'd", 'his', 'but', 'until', 'you', "hadn't"}

In [ ]:
print(tokenzied)

['India is my country .All indians are my brothers and sisters.I love my country.']

N-gram model

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style='seaborn')

#get the data from https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news/version/5
colnames=['Sentiment','news']
df=pd.read_csv('all-data.csv',encoding="ISO-8859-1",names=colnames)
df.head()

  Sentiment                                               news
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sentiment  4846 non-null   object
 1   news       4846 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df['Sentiment'].value_counts()

neutral     2879
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
y=df['Sentiment'].values
y.shape

(4846,)

In [ ]:
x=df['news'].values
x.shape

(4846,)

In [ ]:
#Split train dataset 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(2907,)
(1939,)
(2907,)
(1939,)

In [ ]:
#Make train dataset as a dataframe
df1=pd.DataFrame(x_train)
df1=df1.rename(columns={0:'news'})
df2=pd.DataFrame(y_train)
df2=df2.rename(columns={0:'Sentiment'})
df_train=pd.concat([df1,df2],axis=1)
df_train.head()

                                                news Sentiment
0  Latin America currently accounts for approxima...   neutral
1             The value of the order is USD 2.2 mn .   neutral
2  `` Marimekko operates in an industry in which ...   neutral
3  The opportunity will be available only for few...   neutral
4  Aktia forecasts Finland 's inflation at 1.1 % ...   neutral

In [ ]:
#Make test dataset as a dataframe
df3=pd.DataFrame(x_test)
df3=df3.rename(columns={0:'news'})
df4=pd.DataFrame(y_test)
df4=df4.rename(columns={0:'Sentiment'})
df_test=pd.concat([df3,df4],axis=1)
df_test.head()

                                                news Sentiment
0  Published by Globes online , Israel business n...   neutral
1  Finnish cutlery and hand tools maker Fiskars O...  positive
2  The company also expects to sell its products ...  positive
3  The Apple Inc. iPhone wo n't change the game p...   neutral
4  `` We were the lowest bidders and now the fina...  positive

In [ ]:
#removing punctuations
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_punctuation(text):
  if(type(text)==float):
    return text
  ans=''
  for i in text:
    if i not in string.punctuation:
      ans=ans+i
  return ans

In [ ]:
#storing the puntuation free text in a new column called clean_msg
#punctuations are removed from news column in train dataset
df_train['news']=df_train['news'].apply(remove_punctuation)
df_test['news']=df_test['news'].apply(remove_punctuation)
df_train.head()

                                                news Sentiment
0  Latin America currently accounts for approxima...   neutral
1               The value of the order is USD 22 mn    neutral
2   Marimekko operates in an industry in which ch...   neutral
3  The opportunity will be available only for few...   neutral
4  Aktia forecasts Finland s inflation at 11  in ...   neutral

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#method to generate n-grams:
#params:
#text-the text for which we have to generate n-grams
#ngram-number of grams to be generated from the text(1,2,3,4 etc., default value=1)
def generate_N_grams(text,ngrams=1):
  words=[word for word in text.split(" ") if word not in set(stopwords.words('english'))]
  print('Sentence after removing stopwords:',words)
  temp=zip(*[words[i:] for i in range(0,ngrams)])
  ans=[' '.join(ngrams) for ngrams in temp]
  return ans

In [ ]:
generate_N_grams("The sun rises in the east",2)

Sentence after removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun', 'sun rises', 'rises east']

In [ ]:
generate_N_grams("The sun rises in the east",3)

Sentence after removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun rises', 'sun rises east']

In [ ]:
generate_N_grams("The sun rises in the east",4)

Sentence after removing stopwords: ['The', 'sun', 'rises', 'east']

['The sun rises east']

In [ ]:
main=['Aswathy',' P ',' Karun']
s='  '.join('Aswathy')
s

'A  s  w  a  t  h  y'

In [ ]:
s1=['Abeel','Aditya','Akash','Akshaya']
s2=[1,2,3,4]
s3=zip(s1,s2)
print(set(s3))

{('Akash', 3), ('Akshaya', 4), ('Aditya', 2), ('Abeel', 1)}